.home {
    height: 100%;
    //40% of the available view port heights
    padding-top: 40vh;
    overflow: hidden;
    align-items: center;
    text-align: center;
    background: linear-gradient(to left, rgba(black, 0.8), rgba(black, 0.3));
    // url('../img/me.jpg');
    //background-attachment: fixed;
    //background-position: 50% 50%;
    //background-repeat: no-repeat;
    //background-size: contain;



    &__wrapper{
        position: fixed;
        top: 0;
        height: 90vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        z-index: 0;
        text-align: left;
       // padding-left: 2rem;
        //overflow: scroll;

    .home__me {
       // position: fixed;
        height: 25rem;
        width: 20rem;
       // top: 0;
        left: 50%;
       // margin: auto;
       // transform: translate(0%, 0%);
        border: solid 1px whitesmoke;
        border-top: hidden;
        border-left: hidden;
       // z-index: 1;
        background: linear-gradient(to left, 
        rgba(black, 0.8), rgba(black, 0.3)),
         url('../img/me.jpg');
        background-size: cover;
        opacity: 1;
    }

    //First Name
    .home__name {
       // position: fixed;
        font-size: 300%;
        margin-top: 0.5rem;
        color: whitesmoke;
        //z-index: 1;
        border-bottom: 2px solid whitesmoke;
       // transform: translate(50%);


        //last Name
        &--last {
            color: $secondary-color;
            font-weight: 700;
        }

    }


    }
}