.body-project {
  background:
    linear-gradient(to right,
      rgba(#253c36, 0.4),
      rgba(#253c36, 0.4)),
    url('../img/sourceCode.jpg') center; //Photo by Markus Spiske on Unsplash
}

.projects {
  padding-bottom: 2rem;

  &__bio-image {
    height: 30vh;
    width: 100%;
    background:
      linear-gradient(to right,
        rgba($primary-color, 0),
        rgba(#136157, 0.7)),
      url('../img/sourceCode.jpg') center; //Photo by Markus Spiske on Unsplash
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;

    .text-secondary {
      font-size: 2rem;
      margin-bottom: 2rem;
    }
  }

  &__items {
    width: 60vw;
    margin: 2rem auto 0 auto;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    img {
      filter: brightness(65%);
    }
  }

  &__item {
    // relative: no other element will be affected
    //when moving this element
    position: relative;
    border-bottom: 5px solid $secondary-color;
    overflow: hidden;


    img {
      width: 100%;
      //border: solid 5px red;
    }

    //overlay with pseudo element
    //after each element
    //100% relativ to item
    &::after {
      content: '';
      position: absolute;
      //sign controls the transition direction
      top: 100%;
      left: 0;
      height: 100%;
      width: 100%;
      background: $secondary-color;
      opacity: 0;
      @include transition-ease;
    }

    //when you hover you change the 
    //properties of the pseudo element
    //controlled by the opacity
    &:hover {
      &::after {
        top: 0;
        opacity: 0.8;
      }

      .projects__btn {
        opacity: 1;
      }

    }
  }

  &__title__btn {
    position: absolute;
    bottom: 8.5vh;
    height: 50%;
    width: 100%;
    z-index: 1;
    display: grid;
    //repeat twice in a fractional unit
    grid-template-rows: repeat(2, 1fr);
    gap: 1rem;
    align-items: center;
    text-align: center;
  }

  &__btn {
    opacity: 0;
    color: set-text-color($secondary-color);
    @include transition-ease;

    &:hover {
      color: set-text-color(set-text-color($secondary-color));
    }

  }

  .social-icons {
    display: flex;
    flex-direction: column;
  }


}